<jqxSplitter #grafySceletonSplitter  [height]="'99%'" width="'100%'"
[panels]="[{size:250}, { min:800}]">
<div>
  <table style="width:100%">
    <tr>
      <td colspan="3">
          <!-- [source]="treeSource" -->
          <jqxTree #myTree (onSelect)="myTreeOnSelect($event)"
          [width]="'100%'" [height]="200"  >
            <ul>
              <li>l1
                <ul>
                  <li>l1.1</li>
                  <li>l1.2</li>
                </ul>
              </li>
              <li>l2</li>
              <li>l3
                <ul>
                  <li>l3.1
                    <ul>
                      <li>l3.1.1</li>
                    </ul>
                  </li>
                </ul>
              </li>
                
            </ul>
          </jqxTree>
      </td>
    </tr>
    <tr>
      <td><button [disabled]="treeSelected?.typ=='graf'" (click)="newGraf()">Dodaj</button></td>
      <!-- <td><button [disabled]="treeSelected?.id==-1"  (click)="deleteGraf()">Usuń</button></td> -->
      <td><button [disabled]="!treeSelected"  (click)="deleteGraf()">Usuń</button></td>
      <td><button [disabled]="treeSelected?.typ!=='graf'" (click)="saveGraf()">Zapisz</button></td>
    </tr>

   
  </table>
</div>

<div>
    <jqxSplitter #grafyTableSplitter  [height]="'99%'" width="'100%'"
    [panels]="[{size:300}, {min:800}]">
      
    <div>
        <table >
          <tr>
            <td><div class="button" id="bs-rect" (click)="selectShape('rect', $event)"><img id="bs-rect" src="/images/grafy/rect.png" style="width:40px"/></div></td>
            <td><div class="button" id="bs-circle" (click)="selectShape('circle', $event)"><img id="bs-circle" src="/images/grafy/circle.png" style="width:40px"/></div></td>
            <td><div class="button" id="bs-line" (click)="selectShape('line', $event)"><img id="bs-line" src="/images/grafy/line.png" style="width:40px"/></div></td>
            <td> <div class="button" id="bs-text" (click)="selectShape('text', $event)"><img id="bs-text" src="/images/grafy/text.png" style="width:40px"/></div></td>
          </tr>
          
          <tr>
            <td ><button (click)="wyczysc()">wyczysc</button></td>
            <td ><button (click)="saveImage()">zapisz grafikę</button></td>
            <td>
              <jqxDropDownButton id='canvasButton' #canvasColor style="margin: 3px; float: left" [width]='55' [height]='22'>
                <div style="padding: 3px;">          
                    <jqxColorPicker id='canvas' (onColorchange)="colorPickerEvent($event,'canvas')"
                        [width]='220' [height]='220' [colorMode]='"hue"'>
                    </jqxColorPicker>          
                </div>              
              </jqxDropDownButton>

            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4"><hr></td>
          </tr>
          <!-- <tr>
            <td colspan="2">  <label>startx: {{startY}}</label></td>
            <td colspan="2"><label>starty: {{startY}}</label></td>           
          </tr> -->
          <tr>
            <td >wartosc</td>
            <td colspan="3"><input id='g_displaytext'  value={{selectedText}} (keyup)="textmodyfied($event)"/></td>
            <!-- {{selectedText}} -->
            
          </tr>
          <tr>
            <td>Wielkość czcionki</td>
            <td colspan="3"><input  id='g_fontsize' type="number"  value={{selectedFontSize}}  name="points" step="1" (change)="changeFontSize($event)" (click)="changeFontSize($event)"></td>
          </tr>
          <tr>
            <td>Kolor tła</td>
            <td colspan="3">
              <jqxDropDownButton #dropDownButton style="margin: 3px; float: left" 
              [width]='150' [height]='22'>
              <div style="padding: 3px;">
          
                  <jqxColorPicker (onColorchange)="colorPickerEvent($event)"
                      [width]='220' [height]='220' [colorMode]='"hue"'>
                  </jqxColorPicker>
          
              </div>
          </jqxDropDownButton>
          
            </td>
          </tr>
          <tr>
            <td colspan="4"><hr></td>
          </tr>
        </table>
      
          <button (click)="test()">test</button>
      
      
      
    </div>
    
    <div>
        <svg #svgCanvas id="svgCanvas" width="1200" height="800px" style="border: solid 1px black;"
        (mouseup)="g_mouseup($event)" (mousemove)="g_mousemove($event)" (mousedown)="g_mousedown($event)" (mousewheel)="g_mousewheel($event)" 
        >
          <!-- <circle id="wasl" cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" 
          (mousedown)="g_mousedown($event)" (mousemove)="g_mousemove($event)"  />-->
        
          <!-- <circle (dblclick)="g_mousedblclick($event)"  id="wasl2" cx="250" cy="250" r="40" stroke="green" stroke-width="4" fill="yellow"/>  
          <rect (dblclick)="g_mousedblclick($event)"  id="wasl3" x="50" y="50" width="40" height="30"  stroke="green" stroke-width="4" fill="yellow"/>  
          <text id='testtext' class='text'  x="250" y="300">testdfhhhh  dfdfhdf dfdhdfh dfhdh</text>
         -->
        </svg>
    </div> 
  </jqxSplitter>
  
</div>



</jqxSplitter>


<jqxWindow #windowNewGraf [auto-create]='false' >
    <div>
      <table style="width:100%; border: black solid 1px">
        <tr>
          <td><input type="radio" name="typroli" id="typroli" value="graf" checked>Graf</td>          
          <td><input type="radio" name="typroli" value="katalog">Katalog</td>
        </tr>
        <tr>
          <td>Nazwa</td>          
          <td><input type="text" id="newRoleName"/></td>
        </tr>
        <tr>
          <td><button (click)="newGrafOk()">Utwórz</button></td>
          <td><button (click)="newGrafCancel()">Anuluj</button></td> 
        </tr>         
      </table>
    </div>
</jqxWindow>  
    