:host {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;

  padding: 0 16px;
}
/* height: 48px;*/

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #106cc8;
  font-weight: bold;
}



div.well {
  font-family: 'Josefin Slab', 'Comfortaa', sans-serif;
  font-size: 1.0em;
  position: relative;
 // text-align: right;
  display: inline-block;

  color: #09C;

}

.logo{
  //line-height: 48px;
  color: #4CAF50;
  font-family: 'Josefin Slab', 'Comfortaa', Sans-Serif;
  //font-family: 'sofia_probold','Trebuchet MS',Helvetica,Arial,sans-serif;
  //font-family: fontawesome;
  font-size: 37px;
  letter-spacing: 3px;
  //font-size: 1.5em;
  font-weight: bold;
 // position: relative;
  text-align: right;
  //display: inline-block;

  //color: #09C;
  display: inline-block;


}


.infobutton {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  margin-right: 20px;
  border-radius: 50%;
}
.infobutton:hover {
  background-color: #4CAF50;
}
