<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Logowanie</h1>

    <div class="input-container">
      <input [(ngModel)]="user.name" id="name" type="login" required="required" />
      <label for="#{label}">Użytkownik</label>
      <div class="bar"></div>
    </div>
    <div class="input-container">
      <input [(ngModel)]="user.password" id="password" type="password" required="required" />
      <label for="#{label}">Hasło</label>
      <div class="bar"></div>
    </div>
    <span>{{errorMsg}}</span>
    <div class="button-container">
      <button (click)="login()" type="submit" name="action"><span>Zaloguj</span></button>
    </div>

  </div>
</div>
