<table style="width:100%">
  <tr>
    <td style="width:100%" colspan="2">
      <jqxToolbar #upowaznieniaToolBar [height]='40'  [tools]="tools" [auto-create]='false'
      [initTools]="initTools" 
      [theme]='"darkblue"'>
      </jqxToolbar>
      <!-- *ngIf="authService.checkIfUserIsInRole('Admin_upowaznienia')" -->

      <!-- [hidden]="!authService.checkIfUserIsInRole('Admin_upowaznienia')" -->
    </td>
   
</tr>
<tr>
  <td style="vertical-align: top;">
    <jqxGrid id="jqxgrid" #gridReference
    [columns]="columns"  [auto-create]='false'
   [autoheight]="true" [sortable]="true" 
    [altrows]="true"  [enabletooltips]="true"  [editable]="false" 
    [selectionmode]="'multiplecellsadvanced'" 
    (onCellclick)="CellClicked($event)" 
    (onPagechanged)="Pagechanged($event)"

    ></jqxGrid>
    <!-- [source]="dataAdapter"  multiplecellsadvanced-->
  </td>

  <td style="width:50%; vertical-align:top; overflow:auto;" >
      <div >
        <table   class="ditailsTable">
          <tr>
            <td class="tableLabel" style="width:30%">Wniosek o nadanie uprawnień</td>
            <td><div *ngIf="selectedRow!=null" id="iwniosek_nadania_upr">{{selectedRow.wniosek_nadania_upr}}</div></td>
          </tr>
          <tr>
              <td class="tableLabel">Nadający uprawnienia</td>
              <td ><div *ngIf="selectedRow!=null" id="inadajacy_upr">{{selectedRow.nadajacy_upr}}</div></td>
          </tr>
          <tr>
              <td class="tableLabel">Prowadzący rejestr użytkowników</td>
              <td ><div *ngIf="selectedRow!=null" id="iprowadzacy_rejestr_uzyt">{{selectedRow.prowadzacy_rejestr_uzyt}}</div></td>
          </tr>
          <tr>
              <td class="tableLabel">Wniosek o odebranie uprawnień</td>
              <td ><div *ngIf="selectedRow!=null" id="iwniosek_odebrania_upr">{{selectedRow.wniosek_odebrania_upr}}</div></td>
          </tr>
          <tr>
              <td class="tableLabel">Odbierający uprawnienia</td>
              <td ><div *ngIf="selectedRow!=null" id="iodbierajacy_upr">{{selectedRow.odbierajacy_upr}}</div></td>
          </tr>
          <tr>
              <td class="tableLabel">Decyzja</td>
              <td ><div *ngIf="selectedRow!=null" id="idecyzja">{{selectedRow.decyzja}}</div></td>
          </tr>
          <tr>
              <td class="tableLabel">Uwagi</td>
              <td ><div *ngIf="selectedRow!=null" id="iuwagi">{{selectedRow.uwagi}}</div></td>
          </tr>
          <tr  *ngIf="selectedRow!=null">
              <td class="tableLabel">Załączone pliki</td>
              <td *ngIf="selectedRow.upowaznieniaPliki!=null">
                <div  *ngFor="let plik of selectedRow.upowaznieniaPliki">
                  <p><a class="fileButton"  target="_blank"  href="{{basePlikiurl}}{{plik.idPliku}}">{{plik.nazwa}}</a></p>
                </div>
              </td>
          </tr>
        </table>
      </div >
    </td>
</tr>
</table>



<jqxWindow #jqxwindow1 [auto-create]='false' >
    <div>Edycja</div>
    <div style="overflow: auto;">
      <table>
        <tr *ngIf="authService.checkIfUserIsInRole('upowaznienia_admin')">
          <td class="upowaznieniaTextAreaLabel">Nazwa</td>
          <td align="left">
            <!-- <jqxInput #nazwa [auto-create]='false'></jqxInput> -->
            <textarea id='nazwa'  *ngIf="editobject!=null"  [(ngModel)]="editobject.nazwa" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
          </td>
        </tr>
        <tr *ngIf="authService.checkIfUserIsInRole('upowaznienia_admin')">
          <td  class="upowaznieniaTextAreaLabel" >Nazwa skrócona</td>
          <td align="left">
            <!-- <jqxInput #nazwa_skrocona [auto-create]='false'></jqxInput> -->
            <textarea id='nazwa_skrocona'  *ngIf="editobject!=null"  [(ngModel)]="editobject.nazwa_skrocona" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
          </td>
        </tr>
        <tr>
          <td class="upowaznieniaTextAreaLabel">Wniosek nadania uprawnień</td>
          <td align="left">
            <!-- <jqxInput #wniosek_nadania_upr [auto-create]='false'></jqxInput> -->
            <textarea id='wniosek_nadania_upr'  *ngIf="editobject!=null"  [(ngModel)]="editobject.wniosek_nadania_upr" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
          </td>
        </tr>
        <tr>
            <td  class="upowaznieniaTextAreaLabel">Nadający uprawnienia</td>
            <td align="left">
              <!-- <jqxInput #nadajacy_upr [auto-create]='false'></jqxInput> -->
              <textarea id='nadajacy_upr'  *ngIf="editobject!=null"  [(ngModel)]="editobject.nadajacy_upr" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr>
            <td  class="upowaznieniaTextAreaLabel">Prowadzący rejestr użytkowników</td>
            <td align="left">
              <!-- <jqxInput #prowadzacy_rejestr_uzyt [auto-create]='false'></jqxInput> -->
              <textarea id='prowadzacy_rejestr_uzyt'  *ngIf="editobject!=null"  [(ngModel)]="editobject.prowadzacy_rejestr_uzyt" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr>
            <td  class="upowaznieniaTextAreaLabel">Wniosek odebrania uprawnień</td>
            <td align="left">
              <!-- <jqxInput #wniosek_odebrania_upr [auto-create]='false'></jqxInput> -->
              <textarea id='wniosek_odebrania_upr'  *ngIf="editobject!=null"  [(ngModel)]="editobject.wniosek_odebrania_upr" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr>
            <td  class="upowaznieniaTextAreaLabel">Odbierający uprawnienia</td>
            <td align="left">
              <!-- <jqxInput #odbierajacy_upr [auto-create]='false'></jqxInput> -->
              <textarea id='odbierajacy_upr' *ngIf="editobject!=null"  [(ngModel)]="editobject.odbierajacy_upr" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr *ngIf="authService.checkIfUserIsInRole('upowaznienia_admin')">
            <td  class="upowaznieniaTextAreaLabel">Opiekun</td>
            <td align="left">
              <!-- <jqxInput #opiekun [auto-create]='false'></jqxInput> -->
              <textarea id='opiekun' *ngIf="editobject!=null"  [(ngModel)]="editobject.opiekun" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr>
            <td  class="upowaznieniaTextAreaLabel">Adres email</td>
            <td align="left">
              <!-- <jqxInput #adres_email [auto-create]='false'></jqxInput> -->
              <textarea id='adres_email' *ngIf="editobject!=null"  [(ngModel)]="editobject.adres_email" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr>
            <td align="right">Decyzja</td>
            <td align="left">
              <jqxInput #decyzja [auto-create]='false'></jqxInput>
             
            </td>
          </tr>
          <tr>
            <td  class="upowaznieniaTextAreaLabel">Uwagi</td>
            <td align="left">
              <!-- <jqxInput #uwagi [auto-create]='false'></jqxInput> -->
              <textarea id='uwagi' *ngIf="editobject!=null"  [(ngModel)]="editobject.uwagi" class='jqx-input jqx-widget jqx-widget-content inputformStyle'></textarea>
            </td>
          </tr>
          <tr>
            <td class="upowaznieniaTextAreaLabel">Załączone pliki</td>
            <td align="left" id="addedFiles" >
              <!-- <div *ngFor="let plik of pliki" (click)='testf(plik.nazwa)'>{{plik.nazwa}}</div> -->                         
              <table>
                <tr *ngFor="let plik of pliki">
                  <td><button  (click)='deleteFile(plik)'>-</button></td>
                  <td>{{plik.nazwa}}</td>
                </tr>
              </table>
              <div id="fileuploadprogress"></div>
            </td>
          </tr>
          <tr>
            <td align="right">Dodaj plik</td>
            <td align="left">
              <!-- <jqxFileUpload #fileuploadbutton [auto-create]='false' (change)="uploadFile($event)" ></jqxFileUpload> -->
              <input id="file-field" name="file-field" (change)="uploadFile($event)" type="file" >
              <!-- accept=".png,.jpg,.jpeg" -->
            </td>
          </tr>
        <tr>
          <td align="right"></td>
          <td style="padding-top: 10px;" align="right">
            <jqxButton #buttonReference [auto-create]='false' (onClick)="buttonSaveClicked()">Zapisz</jqxButton>
            <jqxButton #buttonReference1 [auto-create]='false' (onClick)="buttonCancelClicked()">Anuluj</jqxButton>
          </td>
        </tr>
        
      </table>
    </div>
</jqxWindow>

  
<jqxWindow #jqxwindowDelete [auto-create]='false'>
<div>
    <p id="questionTagWindow"></p>  
    <p></p>
    <p>
      <jqxButton #buttonDelYesReference [auto-create]='false' [width]="40" (onClick)="buttondelyesClicked()">Tak</jqxButton>
      <jqxButton #buttonDelNoReference [auto-create]='false' [width]="40" (onClick)="buttondelnoClicked()">Nie</jqxButton>
    </p>
  </div>
</jqxWindow>  

  <!-- <jqxWindow #jqxwindow2 [auto-create]='false'></jqxWindow> -->