.jqx-grid-grid-column-header,{
    white-space: normal  !important;
}

.inputformStyle{
    width: 308px;
    height: 50px;
    resize: none;
    overflow-y: auto;
}

.gridMenuButtons{
    float: left;
}


.buttonIcon {
    margin: -5px 0 0 -3px;
    width: 16px;
    height: 17px;
  }

  .upowaznieniaTextAreaLabel{
    vertical-align: top;
    text-align:right;
    padding-top: 8px;
  }

  .plikibutton{
    background-color: #4ca773;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .ditailsTable  {
    border: 1px solid silver;
    border-collapse: collapse;
    width:100%;
 }
 .ditailsTable tr{
    border: 1px solid silver;
    height: 35px;
   
 }
 .ditailsTable td{
    border: 1px solid silver;
    padding-left: 5px;
    padding-right: 5px;
  
 }
 .tableLabel{    
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
    color:black;
    font-family: "Segoe UI",Arial,sans-serif;
 }

 .fileButton{
    background-color: #2f5f44;
    color: white;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    min-width:50%; 
    border-radius:5px;
 }
 .fileButton:hover{
    background-color: #4ca773;
 }
