// .jqx-grid-grid-column-header,{
//     white-space: normal  !important;
// }

// .inputformStyle{
//     width: 308px;
//     height: 50px;
//     resize: none;
//     overflow-y: auto;
// }

// .gridMenuButtons{
//     float: left;
// }


// .buttonIcon {
//     margin: -5px 0 0 -3px;
//     width: 16px;
//     height: 17px;
//   }