<p>
 Kryterium wyszukiwania: 
 <select  [(ngModel)]="typ">
   <option *ngFor="let obj of typValues" [value]='obj.key'>{{obj.val}}</option>
 </select>
 <input type="text" [value]="arg" [(ngModel)]="arg"/>
 <button (click)="findInterpretacje()" >Szukaj</button>
</p>

<jqxGrid id="jqxInterpretacjegrid" #gridInterpretacjeReference
[columns]="columns"  [auto-create]='false' [source]='dataAdapter'
[autoheight]="true" [sortable]="true" [columns]='columns'
[editable]="false" (onCellclick)='editCellclick($event)'
[selectionmode]="'multiplecellsadvanced'"
></jqxGrid>

<!-- <button (click)="findInterpretacje()">przycisk</button> -->
<!-- <button (click)="fileupload()">upload</button> -->

<jqxWindow #jqxwindowFile [auto-create]='false' [height]="'90%'" [width]="'70%'" style="padding:5px">
  <div>
   <iframe style="width:100%; height:100%" [src]="fileUrl" frameborder="0"></iframe>
  </div>
</jqxWindow>  

